*.bld
*.cmd_log
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.html
*.map
*.mrp
*.ncd
*.ngm
*.csv
*.txt
*.xrpt
*.prj
_ngo
*.xmsgs
*.bgn
*.bit
*.drc
isim
*.html
*.log
*.xml
*.ini
xlnx_auto_0_xdb
xst