# CLOCKS: period for 50 MHz oscillator (40%/60% duty-cycle)
NET "CLK_50MHZ" LOC = "E12"| IOSTANDARD = LVCMOS33 ;


# Primary connection
NET "PS2_CLK"  LOC = "W12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW | PULLUP;
NET "PS2_DATA" LOC = "V11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW | PULLUP;

# LEDs
NET "LED[7]" LOC = "W21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED[6]" LOC = "Y22" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED[5]" LOC = "V20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED[4]" LOC = "V19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED[3]" LOC = "U19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED[2]" LOC = "U20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED[1]" LOC = "T19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED[0]" LOC = "R20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

# BTN
NET "BTN_WEST"  LOC = "U15" | IOSTANDARD = LVCMOS33 | PULLDOWN | CLOCK_DEDICATED_ROUTE;

# VGA
NET "VGA_B<0>" LOC = "C7";
NET "VGA_B<1>" LOC = "D7";
NET "VGA_B<2>" LOC = "B9";
NET "VGA_B<3>" LOC = "C9";
NET "VGA_G<0>" LOC = "C5";
NET "VGA_G<1>" LOC = "D5";
NET "VGA_G<2>" LOC = "C6";
NET "VGA_G<3>" LOC = "D6";
NET "VGA_R<0>" LOC = "A3";
NET "VGA_R<1>" LOC = "B3";
NET "VGA_R<2>" LOC = "B8";
NET "VGA_R<3>" LOC = "C8";

NET "VGA_VS"  LOC = "B11"; 
NET "VGA_HS"  LOC = "C11";
